/*Genereal styles*/
.navbar-container{
  background-color: rgb(65, 90, 119);
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
/*Home button styles*/
.home-button{
  position: relative;
  font-family: Inter;
  border: none;
  background-color: rgb(65, 90, 119);
  color: rgb(224, 225, 221);
  font-weight: bold;
  font-size: 24px;
  margin: 23px 0 15px 30px;
  cursor: pointer;
}

.caption{
  margin: 0;
}

.tooltip{
  position: absolute;
  background-color: rgb(224, 225, 221);
  color: black;
  font-weight: 300;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px;
  bottom: -20px;
  right: -50px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  opacity: 0;
  transition: opacity 0.15s;
}

.cart-button:hover .tooltip-user,
.user-button:hover .tooltip-user,
.nav-but:hover .tooltip,
.home-button:hover .tooltip{
  opacity: 1;
} 
/*Styles for the navigation buttons*/
.navbar-buttons{
  height: 22px;
  width: 406px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 27px 0 15px 0;
}

.nav-but{
  position: relative;
  height: 22px;
  font-family: Inter;
  border: none;
  background-color: rgb(65, 90, 119);
  color: rgb(224, 225, 221);
  font-size: 18px;
  font-weight: medium;
  cursor: pointer;
}

/*Styles for the user buttons*/

.user-buttons{
  display: flex;
  flex-direction: row;
  width: 359px;
  justify-content: space-between;
  margin-right: 37px;
}

.searchbar-div{
  height: 29px;
  width: 219px;
  background-color: rgb(224, 225, 221);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
}

.searchbar-image{
  width: 21px;
  margin-left: 6px;
}

.searchbar-input{
  border: none;
  background-color: rgb(224, 225, 221);
}

.searchbar-input::placeholder{
  font-family: Inter;
  background-color: rgb(224, 225, 221);
}

.user-image,
.cart-image{
  width: 24px;
  height: 24px;
}

.cart-button,
.user-button{
  background-color: rgb(65, 90, 119);
  cursor: pointer;
  border: none;
}
.tooltip-user{
  position: absolute;
  background-color: rgb(224, 225, 221);
  color: black;
  font-weight: 300;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px;
  bottom: -20px;
  right: 50px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  opacity: 0;
  transition: opacity 0.15s;
}