
p{
  margin: 0;
}

.product-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-name-grid{
  margin: 0 0 4px 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
}

.product-price-grid{
  margin: 0 0 23px 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: gray;
  width: 30px;
}

.product-quantity-grid{
  margin: 0 8px 23px 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.product-quantity-selector{
  height: 20px;
  padding: 2px 5px;
  border: none;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.product-quantity-flexbox{
  display: flex;
  flex-direction: row;
  justify-content: end;
}